/* General */

body {
	margin: auto;
	display:flex;
	flex-direction:column;
}

/* Header */

header {
	background: url("images/backheader.png");
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.titlepart {
	display: flex;
	margin-left: -7%;
}

.truetitle {
	color: white;
	margin-left: 5%;
}

.logo {
	margin-top: 1.8%;
}

nav ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	white-space: nowrap;
}

nav li {
	margin-right: 15%;
}

nav a {
	font-size: 130%;
	color: white;
	font-weight: bold;
	text-decoration: none;
}

nav a:hover {
	color: #DEA41F;
	border-bottom: 1px solid #DEA41F;
}

/* Section */

.articles {
	width: 65%;
	margin: auto;
}

article, .displaypicdiv {
	background: url("images/back.png");
	margin-top: 0.85%;
	margin-bottom: 0.675%;
	padding-left: 1%;
	padding-right: 1%;
	border: 2px solid black;
	border-radius: 15px;
  background-color: rgba(180, 180, 180, 0.5);
}

p {
	font-size: 104%;
}

.titres {
	font-size: 140%;
}

.soustitres {
	font-size: 115%;
	text-decoration: underline;
}

.lex {
	background: none;
	font-weight: bold;
	text-decoration: underline;
}

.displaypic {
	width: 90%;
	display: block;
	margin: auto;
	margin-top: 1.8%;
	margin-bottom: 1.8%;
}

.fig {
	display: block;
	text-align: center;
}

figcaption {
	font-size: 85%;
	font-style: italic;
}

.PP {
	display: flex;
	flex-direction: column;
}

.IMGfloatr {
	float: right;
}

.IMGfloatrbas {
	float: right;
	margin-bottom: 1%;
}

.ppos, .pneg, .pmid {
	background: none;
	font-size: 300%;
	font-weight: bold;
}

.ppos {
	color: green;
}

.pneg {
	color: red;
}

.pmid {
	color: orange;
}

.txtinli {
	list-style: none;
	margin-top: 1%;
	margin-bottom: 1%;
}

.txtinlicol {
	list-style: none;
	margin-bottom: 1%;
}

h6 {
	font-size: 105%;
	margin-bottom: 0.5%;
}

/* Only N1 */

#DCBody {
	background: url("images/N1/DCWP.jpg") fixed no-repeat;
	background-size: cover;
 }

#uniquement {
	background: none;
	font-style: italic;
}

/* Only N2 */

#SGBody {
	background: url("images/N2/SGWP.jpg") fixed no-repeat;
	background-size: cover;
 }

.smalltxt {
	margin-top: -1.6%;
	font-size: 80%;
	font-style: italic;
}

.order {
	background: none;
	text-decoration: underline;
}

/* Only N3 */

#KNKBody {
	background: url("images/N3/KNKWP.jpg") fixed no-repeat;
	background-size: cover;
}

#note {
	font-weight: bold;
	font-size: 150%;
}

/* Footer */

footer {
	background: url("images/backheader.png");
}

footer p {
	color: gray;
	text-align: center;
}

footer a {
	color: #C4B4B4;
	font-weight: bold;
	text-decoration: none;
}

footer a:hover {
	color: #DEA41F;
	border-bottom: 1px solid #DEA41F;
}