body {
	background-image: url(back.jpg);
}

section {
  width: 50%;
	margin: auto;
  text-align: justify;
  overflow: auto;
}

footer {
  width: 50%;
  margin: auto;
  text-align: justify;
}

strong, em {
	font-weight: normal;
	font-style: normal;
}