/* General */

body {
	background-image: url(images/back.png);
	width: 60%;
	margin: auto;
}

strong, em {
	font-weight: normal;
	font-style: normal;
}

/* Header */

header {
  background: url(images/backsepa.png) repeat-x bottom;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#titlepart {
	display: flex;
	flex-direction: center;
}

#truetitle {
	margin-left: 5%;
}

#logo {
	margin-top: 1.5%;
}

li a {
	margin-right: 50%;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

nav li {
  margin-right: 10%;
}

nav a {
	font-size: 130%;
	color: black;
	font-weight: bold;
	text-decoration: none;
}

nav a:hover {
  color: #760001;
  border-bottom: 1px solid #760001;
}

/* Section */

section {
	display: flex;
}

article {
	
}